body {
    margin: 60px auto;
    width: 70%;
	font: 18px/30px Sans-serif; 
	color: #000;
}

section {
	overflow: hidden; 
	height: 993px;
}

#intro {
	background-color: black;
}
	#intro h1 {
		width: 858px;
		height: 161px;
		position: relative;
		font-weight: 400;
		color: rgb(75, 213, 238);
		opacity: 0;
		animation: intro 6s ease-out 1s;
	}
	#intro p {
		position: relative;
		top: 200px;
		width: 508px;
		margin: 0 0 30px 0;
	}
	#intro p:nth-child(2) {
		font-weight: bold;
	}